
#easy-seo {
    align-items: center;
    background: #ccc;
    bottom: 10%;
    display: flex;
    justify-content: center;
    left: 10%;
    position: fixed;
    right: 10%;
    top: 10%;
    z-index: 100;
}
