.easyseo__tooltip {
  z-index: 5;
  width: 400px;
  display: block;
  position: absolute;
  border-radius: 2px;
  background-color: #FFF;
  box-sizing: border-box;
  padding: 40px 32px 25px 24px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
}

.easyseo__tooltip:after {
  content: '';
  top: -2px;
  left: 50%;
  width: 12px;
  height: 12px;
  display: block;
  background: #FFF;
  position: absolute;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transform: rotate(45deg) translate(-50%, 0);
  -moz-transform: rotate(45deg) translate(-50%, 0);
  -webkit-transform: rotate(45deg) translate(-50%, 0);
}

.easyseo__tooltip-title,
.easyseo__tooltip-subtitle,
.easyseo__tooltip-details,
.easyseo__tooltip-info {
  font-family: OpenSans;
}

.easyseo__tooltip-title {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.5px;
}

.easyseo__tooltip-subtitle {
  color: #999;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 35px;
  letter-spacing: -0.3px;
}

.easyseo__tooltip-info {
  color: #666;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 70px;
  letter-spacing: -0.5px;
}

.easyseo__tooltip-info-term {
  width: 212px;
  display: block;
  cursor: pointer;
  margin-top: 14px;
  margin-left: 24px;
}

.easyseo__tooltip-info-term:first-child {
  margin-top: 0;
}

.easyseo__tooltip-info a {
  color: #0669de;
}

.easyseo__tooltip-details {
  float: right;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
}

.easyseo__tooltip-close {
  top: 0;
  right: 0;
  color: #999;
  font-size: 15px;
  cursor: pointer;
  padding: 12px 14px;
  position: absolute;
}

.easyseo__tooltip-info-term .main-term,
.easyseo__tooltip-info-term .other-term {
  font-size: 16px;
  line-height: 1.5;
  padding: 4px 14px;
  border-radius: 50px;
  font-family: OpenSans;
  letter-spacing: -0.5px;
}

.easyseo__tooltip-info-term .main-term {
  width: 100%;
  display: block;
  position: relative;
}

.easyseo__tooltip-info-term:hover .main-term {
  color: #405e80;
  background-color: #d9ebff;
}

.easyseo__tooltip-info-term .other-term {
  top: 0;
  right: 0;
  width: 50%;
  position: absolute;
}

.easyseo__tooltip-info-term:hover .other-term {
  color: #fff;
  background-color: #0669de;
}

.easyseo__tooltip-info-term .easyseo__arrow-reverse {
  display: none;
}

.easyseo__tooltip-info-term:hover .easyseo__arrow-right {
  display: none;
}


.easyseo__tooltip-info-term:hover .easyseo__arrow-reverse {
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.easyseo__tooltip-info-term .easyseo__arrow-reverse,
.easyseo__tooltip-info-term .easyseo__arrow-right {
  margin-right: 40px
}
