$opensans_bold: 'OpenSans Bold';
$opensans_regular: 'OpenSans Regular';

@font-face {
  font-family: $opensans_bold;
  src:url("http://s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.eot");
  src:url("http://s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.woff") format("woff"),url("http://s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.ttf") format("truetype"),url("http://s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.svg") format("svg");
  font-weight:normal;
  font-style:normal
}

@font-face {
  font-family: $opensans_regular;
  src:url("http://s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.eot");
  src:url("http://s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),url("http://s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.woff") format("woff"),url("http://s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.ttf") format("truetype"),url("http://s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.svg") format("svg");
  font-weight:normal;
  font-style:normal
}

.easyseo__tooltip {
  z-index: 5;
  width: 400px;
  display: block;
  position: absolute;
  border-radius: 2px;
  background-color: #FFF;
  box-sizing: border-box;
  padding: 32px 32px 25px 24px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);

  &:after {
    content: '';
    top: -2px;
    left: 50%;
    width: 12px;
    height: 12px;
    display: block;
    background: #FFF;
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    transform: rotate(45deg) translate(-50%, 0);
  }

  &-info,
  &-subtitle,
  .main-term,
  .other-term {
    font-family: $opensans_regular;
  }

  &-title,
  &-details {
    font-family: $opensans_bold;
  }

  &-title {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.5px;
  }

  &-subtitle {
    color: #999;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 32px;
    letter-spacing: -0.3px;
  }

  &-info {
    color: #666;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 66px;
    letter-spacing: -0.5px;

    a {
      color: #0669de;
    }
  }

  &-info-term {
    cursor: pointer;
    margin-top: 14px;
    margin-left: 24px;
    border-radius: 20px;
    display: inline-block;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      background-color: #d9ebff;

      .main-term {
        color: #405e80;
      }

      .other-term {
        color: #fff;
        background-color: #0669de;
      }

      .easyseo__arrow-right {
        display: none;
      }

      .easyseo__arrow-reverse {
        height: 20px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .other-term {
      margin-left: 2px;
    }

    .main-term,
    .other-term {
      font-size: 16px;
      line-height: 1.5;
      padding: 4px 14px;
      border-radius: 50px;
      display: inline-block;
      font-family: OpenSans;
      letter-spacing: -0.5px;
    }

    .easyseo__arrow-right,
    .easyseo__arrow-reverse {
      margin-right: 30px
    }

    .easyseo__arrow-reverse {
      display: none;
    }
  }

  &-details {
    color: #333;
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-close {
    top: 0;
    right: 0;
    color: #999;
    font-size: 15px;
    cursor: pointer;
    padding: 12px 14px;
    position: absolute;
  }
}
